code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-size: 17px;
  color: #424242;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

a {
  color: #000000 !important;
  text-decoration: none;
}

.clear-both {
  clear: both;
}

.container {
  max-width: 100% !important;
}
